body {
    padding: 20px;
}

.h1-title {
    text-align: center;
    color: #808080;
    padding-bottom: 2vh;
}



a {
    text-decoration: underline;
    color: #1A5885;
    font-weight: 600;
}

a.title {
    text-decoration: none;
}

a:hover {
    color: #696969;
}

.center_login {
    margin: 0 auto;
    width: 50% /* value of your choice which suits your alignment */
}

.status {
    text-align: center;
    font-size: 26px;
}

.card-body {
    min-height: 14rem;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: #858585;
    color: white;
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
