body {
    padding: 20px;
}

.h1-title {
    text-align: center;
    color: #808080;
    padding-bottom: 2vh;
}

a {
    /*text-decoration: underline;*/
    color: #696969;
    font-weight: 600;
}

a:hover {
    color: #696969;
}

.center_login {
    margin: 0 auto;
    width: 50% /* value of your choice which suits your alignment */
}

.status {
    text-align: center;
    font-size: 26px;
}

.card-body {
    min-height: 14rem;
}
