{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Site checker - details {{ url.url }} {% endblock %}
{% block additional_imports %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js"></script>
{% endblock %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Details for: <a href="{{ url.url }}">{{ url.url }}</a>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Last status <i class="fas fa-plug"></i></h5>
                        <p class="status"
                           style="color: {% if url.last_status == 200 %}green{% else %}red{% endif %}">{{ url.last_status }}</p>
                        <form action="{% url 'refresh' url.pk %}" method="get">
                            <button onclick="waitingDialog.show()" class="btn btn-primary" value="Check"
                                    name="check_btn">
                                Check now
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Last check <i class="fas fa-clock"></i></h5>
                        <p class="status">{{ url.last_check }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Last response time <i class="fas fa-tachometer"></i></h5>
                        <p class="status">{{ url.last_response_time }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if url.error_msg %}
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table data-toggle="table" data-sort-name="date" data-sort-order="desc" data-pagination="true"
                           data-query-params="queryParams">
                        <thead>
                        <tr>
                            <th data-field="date" data-sortable="true">
                                Date
                            </th>
                            <th>
                                Error
                            </th>
                        </tr>
                        </thead>
                        {% for i in  url.error_msg.splitlines %}
                            <tr>
                                <td>
                                    {{ i|stringformat:".16s" }}
                                </td>
                                <td>
                                    {{ i|slice:"17:" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}