{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Site checker - main {% endblock %}

{% block body %}
    <div class="h1-title">
        <h1 class="display-1">Url up-down checker</h1>
        <p>by <a href="#">jundymek</a></p>
        <p>visit me on <a href="https://github.com/jundymek"><i class="fab fa-github fa-2x"></i></a></p>
    </div>
    <form action='/' method="POST">{% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
    <hr>
    <div class="table-responsive">
        <table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">#
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Url
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Last status
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Last Response Time
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr style="{% if site.last_status != 200 %}color:red{% endif %}">
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ site }}</td>
                <td>{{ site.last_status }}</td>
                <td>{{ site.last_response_time }}</td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <!--Table-->
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#exampleModal').modal('show');
                });
            </script>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">{{ label }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <!-- Modal -->
    <form action="#" method="get">
        <input type="submit" class="btn btn-primary" value="Sprawdź teraz" name="mybtn" id="mybtn">
    </form>

{% endblock %}
