{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} Site checker - main {% endblock %}

{% block body %}
    <div class="h1-title">
        <h1 class="display-1">Url up-down checker</h1>
        <p>by <a href="#">jundymek</a></p>
        <p>visit me on <a href="https://github.com/jundymek"><i class="fab fa-github fa-2x"></i></a></p>
    </div>
    {% if user.is_authenticated %}
        You are logged as {{ user.username }}
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form action='/' method="POST">{% csrf_token %}
        {{ form|bootstrap }}
        <button id="add" type="submit" class="btn btn-primary">Add new site</button>
    </form>
    <hr>
    <div class="table-responsive">
        <table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">#
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Url
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Last status
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Last Response Time
                    <i class="fa float-right" aria-hidden="true"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr style="{% if site.last_status != 200 %}color:red{% endif %}">
                <td scope="row">{{ forloop.counter }}</td>
                <td><a href="/details/{{ site.id }}/">{{ site }}</a></td>
                <td>{{ site.last_status }}</td>
                <td>{{ site.last_response_time }}</td>
                <td><a class='delete' id='{{ site.url }}' href='delete/{{ site.id }}/'><i class="fas fa-trash-alt"></i></a>
                </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <!--Table-->

    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="body">You are about to delete {{ sites }}.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id='delete' class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <form action="#" method="get">
        <button onclick="waitingDialog.show()" class="btn btn-primary" value="Check all" name="check_all_btn">
            Check all sites now
        </button>
    </form>
{% endblock %}
